.root {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.inner {
    width: 100vw;
    max-width: 1500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #14FF94;
    letter-spacing: 4px;
    font-size: 14px;
    user-select: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;

    button {
        border: 1px solid #333;
        color: #fff;
        border-radius: 4px;
        padding: 8px 10px;
        min-width: 100px;
        background: transparent;
        transition: 150ms;

        &:hover {
            border-color: #444;

            &:active {
                border-color: #555;
                transform: scale(0.9);
            }
        }
    }
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.linksSeparator {
    display: flex;
    width: 3px;
    height: 3px;
    background: #666;
    border-radius: 100%;
}

.linksLinkWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    & > *:nth-child(1) {
        color: #666;
        transition: 150ms;

        &:hover {
            color: #888;

            &:active {
                color: #14FF94;
            }
        }
    }
}

.linksLinkWrapperActive {
    & > *:nth-child(1) {
        color: #fff;
    }
}
