.root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
}

.inner {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #444;

    @media (prefers-color-scheme: light) {
        border-color: #f1f1f1;
    }
}

.copyright {
    width: 100%;
    padding: 10px 20px;
}

.header {
    padding: 10px 20px;
    border-bottom: 1px solid #444;
    letter-spacing: 3px;
    color: #888;

    @media (prefers-color-scheme: light) {
        border-color: #f1f1f1;
        color: #999;
    }
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;

    & > div {
        flex: 1 1 250px;

        h1 {
            font-size: 20px;
            font-weight: 500;
            position: relative;
            display: inline;

            @media (prefers-color-scheme: light) {
                color: #000;
            }

            &:after {
                position: absolute;
                display: flex;
                bottom: -5px;
                left: 0;
                width: 50%;
                height: 1px;
                background: #555;
                content: "";
            }
        }

        ul {
            list-style: none;
            padding: 0 0 0 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            li {
                transition: 150ms;
                overflow: hidden;
                border-radius: 4px;

                & > * {
                    width: 100%;
                    display: flex;
                    padding: 8px;

                    @media (prefers-color-scheme: light) {
                        color: #000;
                    }

                    &:hover {
                        background: #222;

                        @media (prefers-color-scheme: light) {
                            background: #f9f9f9;
                        }
                    }
                }
            }
        }
    }
}