.root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 20px;
}

.inner {
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > div {
        max-width: 600px;
        display: flex;
        flex-direction: column;

        h1 {
            max-width: 400px;
            font-size: 25px;
            margin: 0 0 20px 0;
            font-weight: 600;
        }

        span {
            margin: 5px 0;
            color: #999;
            max-width: 400px;
        }
    }
}

.rightSideSection {
    margin-left: auto;
}
