@font-face {
	font-family: "SegoeUI-VF";
	src: url("../fonts/SegoeUI-VF.ttf");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "SegoeUI-VF";
	font-size: 13px;
	background: #181818;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	color-scheme: dark;
}

::selection {
	background: #14FF94;
	color: #555;
}
